<style>
/* centre alingment for header */
h2 {
    text-align: center;
    margin: 20px;
}
/* complete box alingment */
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 450px;
    height: 450px;
    width: 300px;
    color: white;
    background-color: rgb(209, 86, 86);
}
/* input area */
#space {
    align-self: center;
    width: 285px;
    height: 30px;
    background: rgb(184, 227, 250);
    color: rgb(33, 3, 3);
}
/* button alignment */
button {
    color: rgb(80, 7, 7);
    background: rgb(175, 218, 251, );
    height: 70px;
    width: 60px;
    font-size: 25px;
}
/* especially for = button */
#equalto {
    height: 142px;
}
</style>