.list {
    display: flex;
    background-color: black;
    margin: 10px;
    padding-top: 10px;
    height: 40px;
    font-size: 20px;
}
.nav {
    margin: 20px;
    color: aqua;
    align-content: center;
}
div {
    background-color: yellow;
    margin: 10px;
    color: black;
    height: 450px;
    width: 200px;
    text-align:left;
}
.left {
    float: left;
}
.right {
    float: right;
    clear: right;
}
.font {
    font-weight: bold;
    margin: 20px;
    font-size: larger;
}
#footer{
    display: flex;
    margin: 10px;
    /* padding-top: 0px; */
    /* height: 40px; */
  background-color: black;
  color: white;
  justify-content: center;
  clear: both;
}
body{
    border: 1px solid;}